<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%=name%> talks to you!</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <form  action="choiceBot" method="post">
      <input type="submit" value="back">
  </form>
  <div class="container">
    <div class="row">
      <center>
        <h4>
          <i class="material-icons">android</i>
          &nbsp;Hi! I'm <%=name%>&nbsp;
          <i class="material-icons">android</i>
        </h4>
        <div class="col l4 s4">Welcome !</div>
        <div class="col l4 s4">
          <form id="target" action='/chat' method="POST">
            <input type="text" id="query" placeholder="What are you up to?" class="validate" name='personne' required>
            <input type="hidden" name="port" value="<%=port%>">
            <input type="hidden" name="id" value="<%=id%>">
            <input type="hidden" name="name" value="<%=name%>">
            <button class="btn waves-effect waves-light" type="submit">Submit</button>
          </form>
        </div>
      </center>
    </div>
  </div>
  <div class="row">
    <p id="sugg">
      <% chat.forEach(function(conv){ %>
          <%=conv%>
          <br>
    <% }); %>
    </p>
    <div class="col  s4 offset-s4 grid-example">
    </div>
  </div>
</body>
</html>
